.chapter(data-title='Account Verification ASP.NET MVC')
  .step(data-title='Introduction', data-file='AccountVerification.Web/App_Start/IdentityConfig.cs')
    :markdown
      ## Introduction

      Ready to implement user account verification in your application? Here's how it works at a high level:

      1. The user begins the registration process by entering his/her data, including a mobile phone number, into a signup form

      1. The authentication system sends a verification code to the user's mobile phone to verify the possession of it

      1. The user enters the verification code into a verification form to complete the registration process

      1. The user then is redirected to a success page and receives an SMS indicating that the account has been successfully created

      ## Building Blocks

      To get this done, you'll be working with the following Twilio-powered APIs:

      **Authy REST API**

      * [Authy](//docs.authy.com/): Find quick starts, documentation, and all about the helper libraries.

      **Twilio REST API**
      * [Twilio Messages](//www.twilio.com/docs/api/rest/sending-messages): We
      will use Twilio directly to send our user a confirmation message after they
      create an account

      Let's get started! Click the right arrow to move on to the next step of the tutorial.


  .step(data-title='User Management' data-file='AccountVerification.Web/Models/IdentityModels.cs' data-highlight="13-19")
    :markdown
      ## User Management

      This tutorial focuses in user registration process, right?. So, in order to save us a boilerplate coding
      session we'll be using use [ASP.NET.Identity](http://www.asp.net/identity), which is a relative new membership
      system for building ASP.NET web apps and it provides you with some very powerful user and role managements features.

      It's extremely easy to use and configure ASP.NET Identity, so easy that when you create a new ASP.NET Web
      Application it comes with it preinstalled and configured for basic usage. ASP.NET Identity also comes shipped
      with its own models, so, in order to define ours User model we just have to subclass the one provided by ASP.NET
      Identity and specify what properties we want for it which would be the `Name`, the `CountryCode` and the `AuthyUserId`, this one
      will be used to store the Authy token used to identify the user. Later in this tutorial we'll explain how to obtain it.

      Now, the fact is that ASP.NET does that for you. I mean, the subclassing stuff, so you just have to add your properties
      to the `ApplicationUser`class. In the end, it should look like the the code on the right.

      Now that we have ASP.NET identity properly configured, let's review the
      [AccountController](//github.com/TwilioDevEd/account-verification-csharp/blob/master/AccountVerification.Web/Controllers/AccountController.cs)
      implementation.

  .step(data-title='Registration form and UI' data-file='AccountVerification.Web/Views/Account/Register.cshtml'
        data-highlight="9-49" data-mode='html')
    :markdown
      ## Registration form and UI

      During the registration of a new user, we ask for a name, e-mail address, and a password.
      In order to validate their account, we also ask them for a mobile number
      with a country code, which we can use with Authy to send the verification code
      via SMS.

      When we create a new ASP.NET Web Application, it also comes with ASP.NET Identity views required,
      among those is the registration form. So, we just have to modify to get it looking like we want.


  .step(data-title='Registration server side implementation' data-file='AccountVerification.Web/Controllers/AccountController.cs'
      data-highlight="153-191")
    :markdown
      ## Registration server side implementation

      It's now the controller's responsibility to verify that the user provides the required information to
      create a new user, and if all went good persist it in the database through the *user manager*, registers the user under
      Authy's API and requests to the last one the send of the verification token to the user.

      The flow finalizes with the redirect of
      the user to the verification code page, that way it all will be ready for when the verification code arrives or,
      if it's the case, alternatively other user may register as well using the same computer because there is no session overlapping risk.
      This happens due to the user gets authenticated only when the registration is verified.

      Don't worry about the `RequestPhoneNumberConfirmationTokenAsync` method invocation, we'll analyze it and all the verification code's
      related a few sections ahead.

  .step(data-title='Verification form and UI' data-file='AccountVerification.Web/Views/Account/VerifyRegistrationCode.cshtml'
        data-mode='html')
    :markdown
      ## Verification form and UI

      As stated before, once the user completes the registration he/she gets redirected to the verification page, which you may access
      at any time using the route `/Account/VerifyRegistrationCode`. This page consists in a simple form where you can input your
      account e-mail address, to get identify as you, and the sent sms verification code.

      Also note that there is a *Re send Verification Code* link below, which will lead to the Re send verification page autocompleting
      that page's form with the already filled e-mail input value.
      For this purpose there is a teeny tiny javascript code block and the end of the page.

      It's super simple, the final code should be like the one in the right.

  .step(data-title='Verification server side implementation' data-file='AccountVerification.Web/Controllers/AccountController.cs'
        data-highlight='73-97')
    :markdown
      ## Verification server side implementation

      The server side implementation for the verification code process ensures the a given e-mail belongs to previously registered user which hasn't
      performed the verification process yet. Then it communicates with Authy's API to check is the given code is correct. If verification is performed
      as positive, it sends a confirmation SMS using Twilio's API to the user and redirects to a success page.

      The communication to Authy's and Twilio's APIs will be explained in a few moments along with the already seen `RequestPhoneNumberConfirmationTokenAsync`.
      As you can see they all live inside the extended
      [`ApplicationUserManagement`](//github.com/TwilioDevEd/account-verification-csharp/blob/master/AccountVerification.Web/App_Start/IdentityConfig.cs).

  .step(data-title='Re send verification code' data-file='AccountVerification.Web/Controllers/AccountController.cs'
        data-highlight="118-142")
    :markdown
      ## Re send verification code

      This is a really really simple stuff, so we aren't going to spend to much time on it. It consists in a simple form that gets the user's
      email, verifies if belongs to a previously registered user not verified yet and request a verification code to be sent to his/her
      registered mobile phone.

      Checkout the `ResendVerificationCode` action from `AccountController` controller and its correspondent view.

  .step(data-title='Re send verification code' data-file='AccountVerification.Web/Controllers/AccountController.cs'
        data-highlight="118-142")
    :markdown
      ## Re send verification code

      This is a really really simple stuff, so we aren't going to spend to much time on it. It consists in a simple form that gets the user's
      email, verifies if belongs to a previously registered user not verified yet and request a verification code to be sent to his/her
      registered mobile phone.

      This is a really really simple stuff, so we aren't going to spend to much time on it. It consists in a simple form that gets the user's
      email, verifies if belongs to a previously registered user not verified yet and request a verification code to be sent to his/her
      registered mobile phone.

      Checkout the `ResendVerificationCode` action from `AccountController` controller and its correspondent
      [view](//github.com/TwilioDevEd/account-verification-csharp/blob/master/AccountVerification.Web/Views/Account/ResendVerificationCode.cshtml).

  .step(data-title='Twilio and Authy configuration' data-file='AccountVerification.Web/Web.config' data-highlight="19-22" data-mode='xml')
    :markdown
      ## Twilio and Authy configuration

      Now, in order to get our application working properly we need to do some configuration first as we'll be using the
      [The Twilio C# Helper Library](//www.twilio.com/docs/csharp/install) and the
      [Authy.Net Client](https://github.com/davidsulpy/authy-net-client). So lets get to it:

      You need to create a Local.config file under the `AccountVerification.Web` directory with the following content:
      ```
        <?xml version="1.0" encoding="utf-8"?>
        <appSettings>
          <add key="TwilioAccountSID" value="your_twilio_account_SID" />
          <add key="TwilioAuthToken" value="your_twilio_auth_token" />
          <add key="TwilioNumber" value="your_twilio_number" />
          <add key="AuthyKey" value="your_authy_key" />
        </appSettings>
      ```
      This content will override the one highlighted on the right.
      Note that you have to replace the placeholders `your_twilio_account_SID`, `your_twilio_auth_token`, `your_twilio_number`
      and `your_authy_key` with your correspondent Twilio and Authy production information,
      which you can find in your [Twlio Account Dashboard](/user/account) and in your [Authy
      dashboard](https://dashboard.authy.com/signup) respectively.

      ![Authy Dashboard](//s3.amazonaws.com/howtodocs/2fa-authy-dashboard.png)

      Finally, we're ready to review our extended `ApplicationUserManager` class, which is where al the magic happens.


  .step(data-title='Request verification code' data-file='AccountVerification.Web/App_Start/IdentityConfig.cs'
        data-highlight="132-154")
    :markdown
      ## Request verification code

      The ASP.NET Identity UserManager is the brain for all the user management related operation. ASP.NET Identity supports E-mail
      confirmation for registration process, but not SMS confirmation. Despite of that, it provides some infrastructure for extend it to
      support SMS confirmation during registration. For example, its base `User` definition supports the properties `PhoneNumber` and `PhoneNumberConfirmed`,
      the underneath `IUserStore` implementation, used by the `UserManager` to perform CRUD operations over users, also comes a with
      `SetPhoneNumberConfirmedAsync` method and so on.

      So, in order to request a verification code, we just have to extend the `ApplicationUserManager` by adding it an `AuthyClient` instance and access
      property. Additionally, we add a `RequestPhoneNumberConfirmationTokenAsync` method with the purpose of verify if the user exists and if it has a
      `AuthyUserId` value, fact that indicates it has been previously registered using Authy API. If not, we perform an invocation of `RegisterUser` method
      in the `AuthyClient` instance, which returns the `AuthyUserId` for the newly registered user and updates it with that value.

      Finally, to order Authy to send the verification code to the user, we call the `SendSms` method on the `AuthyClient` instance passing it the user's
      `AuthyUserId` and a `true` value for `forceSms` parameter. This last parameter is mandatory to be passed as `true` because
      that way we force Authy to send an SMS explicitly, which may not happen according to the Authy's user profile settings and devices, if he/she
      is already and Authy's user, and the Authy's alternatives verification methods, but that's out of the scope.

      This implementation is valid for both cases: requesting the verification code the first time and re requesting it as many times as need it because
      it just request the user's `AuthyUserId` the first time.

  .step(data-title='Verification code confirmation' data-file='AccountVerification.Web/App_Start/IdentityConfig.cs'
        data-highlight="113-129")
    :markdown
      ## Verification code confirmation

      If you recall, the process registration process confirmation is composed of two steps according to our
      [controller](//github.com/TwilioDevEd/account-verification-csharp/blob/b6308859a5e28b80ba1d34bc480ff7fb5fdaa8fe/AccountVerification.Web/Controllers/AccountController.cs#L85-L91).
      The first one, confirming the verification code, get addressed as follows.

      We add a `ConfirmPhoneNumberAsync` method to the extended `ApplicationUserManager` class. This method will call Authy API's `VerifyToken` method,
      which returns a `boolean` indicating if the code is correct.
      If so, the method updates the user stating the user phone number has been confirmed.

      This method returns an `IdentityResult` object indicating the verification process's result. If this is positive it will lead the controller
      to the second step of registration process confirmation. Hit the next button to get on to it.

  .step(data-title='Account confirmation notification' data-file='AccountVerification.Web/App_Start/IdentityConfig.cs'
        data-highlight="17-30")
    :markdown
      ## Account confirmation notification

      The second step for registration process confirmation implies that once the verification code gets confirmed, the controller signs in the user and
      sends a registration confirmation notification using Twilio SMS API.

      As seen in the
      [`AccountController`](//github.com/TwilioDevEd/account-verification-csharp/blob/b6308859a5e28b80ba1d34bc480ff7fb5fdaa8fe/AccountVerification.Web/Controllers/AccountController.cs#L90),
      this is achieved using the `UserManager`'s `SendSmsAsync`method, which is a clue that we may be plugging some of our code in the ASP.NET Identity
      pipeline to customize the process of sending and SMS. If you assume that, you're right and we'll show you how this may be achieved.

      ASP.NET Identity by default defines two **dummy** implementations of its `IIdentityMessageService` interface for sending SMSs and E-mails respectively.
      So, we just have to add some real code to the `SendAsync` method of the `SmsService`class.

      This real code will use a `TwilioRestClient` with
      our Twilio's preconfigured SID and Auth Token for
      sending an SMS to the messages's destination number, which in fact is the user's phone number, from our previously configured Twilio's number.

      Check the code in the right to see how it looks once finished and be aware, we are almost done.

  .step(data-title='Where to Next?')
    :markdown
      ## Where to Next?

      That's it! We've just implemented account verification so your users can
      confirm the registration process through their phone number. If you're a ASP.NET MVC developer working with Twilio,
      you might want to check out these other tutorials:

      [**SMS and MMS Notifications**](//www.twilio.com/docs/tutorials/walkthrough/server-notifications/csharp/mvc)

      Use Twilio to create sms server alerts so that you never miss a critical server issue.

      [**Apointment Reminders**](//www.twilio.com/docs/tutorials/walkthrough/appointment-reminders/csharp/mvc)

      Use Twilio to create automatic appointment reminders for your business users.

      ### Did this help?

      Thanks for checking out this tutorial! If you have any feedback to share
      with us, we'd love to hear it. Tweet
      [@twilio](http://twitter.com/twilio) to let us know what you think.
